<header class="bg-gray-800 text-white">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <div class="logo">
            Logo
        </div>
        <div class="flex items-center w-full justify-between">
            <form class='ml-10 relative'>
                <input class='text-white border outline-none px-3 py-1 rounded w-[300px]' type='text' placeholder='Tìm kiếm'/>
                <button class='absolute right-2 top-2'>
                <svg class='w-5 h-5' fill='#999' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </button>
            </form>
            <nav>
                <ul class="flex gap-4 py-6">
                    <li><a class="hover:text-yellow-200" href="#">Trang chủ</a></li>
                    <li><a class="hover:text-yellow-200" href="#">Giới thiệu</a></li>
                    <li><a class="hover:text-yellow-200" href="#">Sản phẩm</a></li>
                    <li><a class="hover:text-yellow-200" href="#">Liên hệ</a></li>
                    <li><a class="hover:text-yellow-200" href="#">Tin tức</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>