<!-- /**
* Tạo component 'product'
* Hiển thị danh sách sản phẩm dạng table (STT, Tên sản phẩm, Giá bán, Trạng thái, Danh mục, Đánh giá), Yêu cầu:
* Sử dụng ngFor để duyệt mảng sản phẩm
* Giá bán: Sử dụng ngIf để kiểm tra (nếu không có giá bán thì hiển thị "Giá bán không khả dụng")
* Trạng thái: Tạo phương thức renderSatus hiển thị tên trạng thái (Còn hàng/ Hết hàng)
* Trạng thái: Sử dụng ngClass thể điều chỉ màu chữ theo trạng thái
* Danh mục: Sử dụng ngSwitch để hiển thị tên Danh mục (LT: Laptop, MB: Điện thoại, PK: Phụ kiện)
*/ -->
<h1 class="text-2xl text-red-600 text-center font-bold p-5">Danh sách sản phẩm</h1>

<table class="border-collapse border border-gray-800 w-full  h-[200px] text-center">
    <thead>
        <tr class="bg-gray-500 text-white ">
            <th class="border">STT</th>
            <th class="border">Tên sản phẩm</th>
            <th class="border">Giá bán</th>
            <th class="border">Trạng thái</th>
            <th class="border">Danh mục</th>
            <th class="border">Đánh giá</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td class="border hover:bg-red-200">{{i+1}}</td>
            <td class="border hover:bg-red-200">{{product.name}}</td>
            <td class="border hover:bg-red-200" *ngIf="product.price; else sanPham">{{product.price}}</td>
            <ng-template #sanPham>
                <td class="border hover:bg-red-200">Giá bán không khả dụng</td>
            </ng-template>
            <td class="border hover:bg-red-200" 
                [ngClass]="{
                    'text-red-500 bg-gray-300': product.inStock,
                    'text-green-500 bg-amber-200': !product.inStock
                }">{{(renderStatus(product.inStock))}}
            </td>
            <td class="border hover:bg-red-200" [ngSwitch]="product.category">
                <span *ngSwitchCase="'LT'">Laptop</span>
                <span *ngSwitchCase="'MB'">Điện thoại</span>
                <span *ngSwitchCase="'PK'">Phụ kiện</span>
                <span *ngSwitchDefault>Khác</span>

            </td>
            <td class="border hover:bg-red-200">{{product.rating}}</td>
        </tr>
    </tbody>
</table>
