<app-header></app-header>
<app-user></app-user>
<app-product></app-product>

<!-- <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-6 flex items-center space-x-6">
  <div class="flex-shrink-0">
    <img class="h-32 w-32 rounded-full object-cover border-4 border-red-400" [src]="data.avatar" [alt]="data.name" />
  </div>
  
  <div class="flex-1">
    <h1 class="text-2xl font-bold text-gray-800">Họ và tên: <span class="text-red-500">{{ data.name }}</span></h1>
    <h3 class="text-lg text-gray-600">Tuổi: <span class="font-medium">{{ data.age }}</span></h3>
    <h3 class="text-lg text-gray-600">Giới tính: <span class="font-medium">{{ renderGenner() }}</span></h3>
    <p class="text-gray-700 mt-2">{{ data.description }}</p>
    <a target="_blank" [href]="data.linkFB" class="inline-block mt-4 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 transition">Click vào</a>
  </div>
</div> -->
